// Specific CSS for your home-page

.info {
  margin-top: 24px;
}
.header {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.header > img{
  width: 160px;
}

.main-container {
  // margin-top:40px;
  // margin-bottom:40px;
  background-color: white;
  padding:16px;
}
