<div style= "background-color: #2f2e41; padding:24px;">
  <div class="container">
    <div class="main-container">
      <div class="header">
        <h1><strong> Welcome to the Magic 8 ball API </strong></h1>
        <%= image_tag "undraw_logo.png" %>
      </div>
      <div class="info">
        <p>🎱 Shake one of the available Magic 8 balls to get a wise answer!  😍 #open to anyone</p>
        <p>🎱 Create, edit and delete customized magic 8 balls 😉 #open to logged-in users </p>
        <h2><strong> Endpoints & Usage:</strong></h2>
        <p>Each request will return a JSON object</p>
        <p><strong>#INDEX:</strong> Show all the available magic balls (open to anyone)</p>
        <h3>GET /api/v1/balls</h3>
        <hr>
        <p><strong>#SHAKE:</strong> Shake your favourite magic ball to get an answer (open to anyone)</p>
        <h3>GET  /api/v1/balls/:id/shake </h3>
        <hr>
        <p><strong>#SHOW:</strong> Show the name, comment and answers of a specific magic ball (open to anyone)</p>
        <h3>GET /api/v1/balls/:id</h3>
        <hr>
        <p><strong>#UPDATE:</strong> Update the name and/or comment of a specific magic ball (the creator of that magic ball only)</p>
        <h3>PATCH /api/v1/balls/:id</h3>
        <hr>
        <p><strong>#CREATE:</strong> Create a new magic ball, with a name and comment to it (logged-in users only)</p>
        <h3>POST /api/v1/balls</h3>
        <hr>
        <p><strong>#DESTROY:</strong> Delete a magic ball (the creator of that magic ball only)</p>
        <h3>DELETE /api/v1/balls/:id</h3>
        <hr>
      </div>
    </div>
  </div>
</div>
